@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    /* Sans-serif */

    @font-face {
        font-family: 'Inter';
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('.../fonts/Inter-Thin.woff2') format("woff2"),
        url('.../fonts/Inter-Thin.woff') format("woff"),
        url('.../fonts/Inter-Thin.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-ExtraLight.woff2') format("woff2"),
        url('../fonts/Inter-ExtraLight.woff') format("woff"),
        url('../fonts/Inter-ExtraLight.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-Light.woff2') format("woff2"),
        url('../fonts/Inter-Light.woff') format("woff"),
        url('../fonts/Inter-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-Regular.woff2') format("woff2"),
        url('../fonts/Inter-Regular.woff') format("woff"),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-Medium.woff2') format("woff2"),
        url('../fonts/Inter-Medium.woff') format("woff"),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-SemiBold.woff2') format("woff2"),
        url('../fonts/Inter-SemiBold.woff') format("woff"),
        url('../fonts/Inter-SemiBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-Bold.woff2') format("woff2"),
        url('../fonts/Inter-Bold.woff') format("woff"),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-ExtraBold.woff2') format("woff2"),
        url('../fonts/Inter-ExtraBold.woff') format("woff"),
        url('../fonts/Inter-ExtraBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Inter';
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Inter-Black.woff2') format("woff2"),
        url('../fonts/Inter-Black.woff') format("woff"),
        url('../fonts/Inter-Black.ttf') format('truetype');
    }

    /* Serif */

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 100;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Thin.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Thin.woff') format("woff"),
        url('../fonts/RobotoSlab-Thin.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 200;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-ExtraLight.woff2') format("woff2"),
        url('../fonts/RobotoSlab-ExtraLight.woff') format("woff"),
        url('../fonts/RobotoSlab-ExtraLight.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 300;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Light.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Light.woff') format("woff"),
        url('../fonts/RobotoSlab-Light.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Regular.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Regular.woff') format("woff"),
        url('../fonts/RobotoSlab-Regular.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 500;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Medium.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Medium.woff') format("woff"),
        url('../fonts/RobotoSlab-Medium.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 600;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-SemiBold.woff2') format("woff2"),
        url('../fonts/RobotoSlab-SemiBold.woff') format("woff"),
        url('../fonts/RobotoSlab-SemiBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 700;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Bold.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Bold.woff') format("woff"),
        url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 800;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-ExtraBold.woff2') format("woff2"),
        url('../fonts/RobotoSlab-ExtraBold.woff') format("woff"),
        url('../fonts/RobotoSlab-ExtraBold.ttf') format('truetype');
    }

    @font-face {
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/RobotoSlab-Black.woff2') format("woff2"),
        url('../fonts/RobotoSlab-Black.woff') format("woff"),
        url('../fonts/RobotoSlab-Black.ttf') format('truetype');
    }

    /* Monospace */

    @font-face {
        font-family: 'Menlo';
        font-weight: 400;
        font-style: normal;
        font-display: swap;
        /*noinspection CssUnknownTarget*/
        src: url('../fonts/Menlo-Regular.woff2') format("woff2"),
        url('../fonts/Menlo-Regular.woff') format("woff"),
        url('../fonts/Menlo-Regular.ttf') format('truetype');
    }

}